@use 'global' as *;

.p-header {
  $this: &;
  display: flex;
  justify-content: space-between;
  min-height: var(--header-height);
  padding-left: 16px;
  padding-right: 16px;
  transition: min-height var(--transition);

  @include mq(lg) {
    padding-right: 0;
  }
  @include mq(md) {
    min-height: 80px;
  }

  &.is-fixed {
    --header-height: 80px;
  }

  // ロゴ
  &__logo-box {
    align-self: center;
  }
  &__logo {
    font-size: to-rem(32);
    transition: font-size var(--transition);
    text-shadow:
      1px 1px var(--logo-shadow-outline-color),
      1px -1px var(--logo-shadow-outline-color),
      -1px 1px var(--logo-shadow-outline-color),
      -1px -1px var(--logo-shadow-outline-color);

    @include mq(lg) {
      font-size: to-rem(24);
    }
  }

  &.is-fixed {
    #{$this}__logo {
      font-size: to-rem(24);
    }
  }
}

.p-header-nav {
  @mixin state-style-pc {
    scale: 1 1;
  }
  @mixin state-style-sp {
    width: 16px;
  }

  $this: &;
  &__link {
    @include font-en;
    font-weight: 700;

    &.-contact {
      color: rgb(var(--color-white));
      background-color: rgb(var(--color-black));
      transition: var(--transition);
      transition-property: color, background-color;
      border-radius: var(--border-radius-md);
      border: 2px solid rgb(var(--color-black));
      height: calc(100% - 16px);
      margin-top: 8px;
      // box-shadow: var(--box-shadow);
      @include hover {
        color: rgb(var(--color-black));
        background-color: rgb((var(--color-white)));
      }
    }
  }

  @include mq-not(lg) {
    &__list {
      display: flex;
      height: 100%;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 32px;
      font-size: to-rem(24);
      // user-select: none;
    }
    &__text:not(.-contact) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 32px;
        height: 2px;
        background-color: rgb(var(--color-accent));
        translate: -50% 0;
        scale: 0 1;
        transform-origin: center top;
        transition: var(--transition);
        transition-property: scale;
      }
      @include hover-child {
        &:before {
          @include state-style-pc;
        }
      }
    }
  }
  &__item.is-current {
    #{$this}__text:before {
      @include state-style-pc;
    }
  }

  // スマホメニュー
  @include mq(lg) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    max-width: 480px;
    height: 100dvh;
    background-color: rgba(var(--color-black), 0.8);
    padding: 128px 40px 40px;
    transition: var(--transition);
    transition-property: translate, visibility, opacity;
    overflow: auto;

    &:not(.is-show) {
      visibility: hidden;
      opacity: 0;
      translate: 100% 0;
    }

    &__list {
      display: grid;
      gap: 16px;
      max-width: 320px;
      margin-inline: auto;
    }

    &__link {
      display: flex;
      align-items: center;
      padding: 8px 32px;
      min-height: 64px;
      border-radius: var(--border-radius-sm);
      background-color: rgb(var(--color-white));
      font-size: to-rem(24);

      &:not(.-contact) {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          width: 0;
          height: 2px;
          border-top-right-radius: 100vh;
          border-bottom-right-radius: 100vh;
          background-color: rgb(var(--color-accent));
          transition: width var(--transition);
        }
        @include hover {
          &:before {
            @include state-style-sp;
          }
        }
      }
    }
    &__item.is-current {
      #{$this}__link:before {
        @include state-style-sp;
      }
    }
  }
}

// メニューボタン
.p-header-button {
  // padding: 8px;
  $this: &;

  @include mq-not(lg) {
    display: none;
  }
  &__menu-button {
    display: block;
  }
  &__overlay {
    position: fixed;
    inset: 0;
    z-index: 1;

    &:not(.is-show) {
      display: none;
    }
  }
  &__content {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--color-black));
    border-radius: var(--border-radius-md);
    height: calc(var(--header-height) - 16px);
    margin: 8px 16px 0 0;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    transition: height var(--transition);
    @include mq(md) {
      margin-right: 8px;
    }
  }
  &__lines {
    position: relative;
    z-index: 3;
    display: block;
    // height: 32px;
    // width: 44px;
    height: 40%;
    width: 50%;
    // @include mq(md) {
    //   height: 28px;
    //   width: 36px;
    // }
  }

  &__line {
    position: absolute;
    left: 50%;
    height: 2px;
    width: 100%;
    border-radius: 100vh;
    background-color: rgb(var(--color-white));
    translate: -50% 0;
    transition: var(--transition);
    user-select: none;

    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: calc(50% - 1px);
      transition-property: width;
      transition-delay: 0.2s;
    }
    &:nth-of-type(3) {
      top: calc(100% - 2px);
    }
  }
  &__menu-button.is-active {
    #{$this}__line {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        transition-property: top, rotate;
        transition-delay: 0.2s;
      }

      &:nth-of-type(1) {
        top: calc(50% - 1px);
        rotate: 45deg;
      }
      &:nth-of-type(2) {
        width: 0;
        transition-delay: 0s;
      }
      &:nth-of-type(3) {
        top: calc(50% - 1px);
        rotate: -45deg;
      }
    }
  }
}
