<footer class="l-footer">
  <div class="p-footer">
    <small lang="en" class="p-footer__copyright">© <span class="u-uppercase">yuya miyashita</span> <%= new Date().getFullYear() %> - All rights reserved.</small>
  </div>
</footer>

<div class="c-scroll-top">
  <button type="button" class="c-scroll-top__button js-scroll-top-button" aria-label="ページの先頭に戻る">
    <svg class="c-svg-angle -up -white c-scroll-top__arrow">
      <use href="#svg-angle-up" />
    </svg>
  </button>
</div>
