@use 'global' as *;

.c-scroll-top {
  $this: &;
  @mixin state-style {
    translate: 0 -8px;
  }

  position: fixed;
  bottom: 0;
  right: 0;
  width: 64px;
  aspect-ratio: 1 / 1;
  translate: 0 100%;
  transition: translate var(--transition);

  @include mq(sm) {
    scale: 0.8;
    transform-origin: right bottom;
  }

  &.is-show {
    translate: 0 0;
  }

  &__button {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius-sm);
    background-color: rgb(var(--color-accent));
  }

  &__arrow {
    width: 48px;
    transition: translate var(--transition);
    @include hover-child {
      @include state-style;
    }
  }

  &.is-active {
    #{$this}__arrow {
      @include state-style;
    }
  }
}
